<p id="notice"><%= notice %></p>

<h1>Testresultcomments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testresultcomments.each do |testresultcomment| %>
      <tr>
        <td><%= link_to 'Show', testresultcomment %></td>
        <td><%= link_to 'Edit', edit_testresultcomment_path(testresultcomment) %></td>
        <td><%= link_to 'Destroy', testresultcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testresultcomment', new_testresultcomment_path %>
