<%= render 'navbar' %>

<div>
<h3><span class="badge badge-info">Feature Summary</span></h3>
<table class="table table-striped" id="summary-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Feature Name</th>
      <th>Number of Test Case</th>
      <th>Test Case Run Count</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @feature_names.each do |feature_name| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= link_to feature_name.feature_name, URI.encode("#{controller_name}/#{feature_name.feature_name}") %></td>
        <td><%= @number_of_testcase[i-1] %></td>
        <td><%= @run_count_testcase[i-1] %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
  </table>
</div>

<div>
<h3><span class="badge badge-danger">Failed Test Case</span></h3>
<table class="table table-striped" id="testresult-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Test Case Name</th>
      <th>Result</th>
      <th>Last Run</th>
      <th>Environment</th>
      <th>Error Message</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    
  </tbody>
</table>
</div>